@import "../../styles/variables";
.home-page {
  .hero {
    background-image: url("../../assets/home-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding: 20px 0;
    text-align: center;
    p {
      max-width: 582px;
      margin: 0 auto;
      margin-top: 44px;
    }
    margin-bottom: 87px;
    padding-top: 154px;
    padding-bottom: 124px;
  }

  .flex-2 {
    margin-bottom: 100px !important;
  }

  .btn-container {
    max-width: 461px;
    margin: 0 auto;
    margin-bottom: 43px;
    margin-top: 59px;
    color: white;
    .btn-primary {
      background-color: $blue;
    }
  }
}
