@import "../../../styles/variables";
.announce-page {
  padding-top: $navSize;
  margin-bottom: 113px;
  h2 {
    margin-top: 45px;
  }
  textarea {
    width: 100%;
    height: 251px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 23px;
    padding: 30px 13px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    margin-top: 36px;
    margin-bottom: 56px;

    &::placeholder {
      letter-spacing: 0.1em;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  .radios-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    .radio-container {
      .form__radio-input {
        display: none;
      }
      .form__label-radio {
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
        span.form__radio-button {
          height: 3rem;
          width: 3rem;
          border: 5px solid #55c57a;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          left: 0;
          top: -0.4rem;
          &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #55c57a;
            opacity: 0;
            transition: opacity 0.2s;
          }
        }
      }

      gap: 9px;
    }
  }
  .btns-container {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    button {
      flex: 0 1 300px;
      width: auto !important;
      padding-top: 5px;
      padding-bottom: 5px;
      &.btn-primary {
        background-color: $blue;
        color: white;
      }
    }
  }

  @media (max-width: $mobileBreakpoints) {
    .radios-container,
    .btns-container {
      flex-direction: column;
      gap: 20px;
    }
    .btns-container {
      flex-direction: column-reverse;
      button {
        flex-basis: 60px;
      }
    }
  }
}

.form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
  opacity: 1 !important;
}
