nav {
  position: fixed;
  right: 0;
  left: 0;
  padding: 18px 20px;
  width: 1200px;
  margin: 0 auto;
  z-index: 100;
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  button {
    background-color: $red;
    color: white;
  }
}
